html,body{
   margin:0;
   padding:0; 
   width:100vw;
   height:100%;
   font-family: candara;
   background-color: #222;
   color:#999;
   overflow-x: hidden;
}

header{
    width:100%;
    height:7em;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

header img{
    height:100%;
}

header nav{
    width:50%;
    height:100%;
    display:flex;
    justify-content: space-evenly;
    align-items: flex-end;

}

header a{
    padding:0;
}

a:hover{
    padding-bottom:5px;
    transition-duration: 0.2s;
    cursor:pointer;
    color:#EEE;
}

header button{
    padding:10px;
    background-color: #9370DB;
    border:0;
    color:white;
    font-family: candara;
    border-radius: 5px;
    box-shadow:0 0 0.8em #8A2BE2;
    transition-duration: 0.2s;
}

header button:hover{
    padding:15px;
    transition-duration: 0.2s;
    box-shadow: 0 0 1em #8A2BE2;
}

.apresentacao{
    width:100%;
    height:95vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.apresentacao article{
    width:50%;
    height:60%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.apresentacao article p{
    margin:0;
    margin-left:30px;
    font-size: 1.3em;
    padding:0;
}

.apresentacao article strong{
    margin:0;
    margin-left:30px;
    font-size: 1.5em;
    color:#9370DB;
    padding:0;
    
}

.apresentacao article h1{
    margin:0;
    margin-left:30px;
    font-size: 3em;
    color:#8A2BE2;
    padding:0;
     
}

.social{
    width:35%;
    display:flex;
    justify-content: space-evenly;
    margin-top:30px;
}

.social a{
    padding:10px;
    background:#666;
    color:white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 0.8em;
}

.botoes{
    width:35%;
    display:flex;
    justify-content: space-evenly;
    margin-top:20px;
    margin-left:25px;
}

.botoes button{
    padding:15px;
    background-color: #9370DB;
    border:0;
    color:white;
    border-radius: 15px;
    box-shadow: 0 0 0.7em #8A2BE2;
}



.foto{
    width:40%;
    height:70%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.foto .fundo{
    width:400px;
    height:400px;
    display:flex;
    align-items: flex-end;
    background-color:#555;
    box-shadow:0 0 1em #555;
    border-radius: 50%;
}

.foto .fundo img{
    width:92%;
    border-bottom-left-radius: 200px;
}

/* Section Sobre */

.sobre{
    width:100%;
    height:100vh;
    background:#EEE;
    display:flex;
    justify-content: center;
    align-items: center;
}

.sobre article{
    width:35%;
}

.sobre h1{
    font-size: 1.5em;
    color:#1fac9b
}

.sobre strong{
    color:#e5722f
}

.sobre .fundo{
    background-image:url('./assets/img/foto_sobre.jpg');
    background-size: cover;
}

/* Formulário de contato */

.contato{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.links{
    width:30%;
    height:85%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:2em;
    padding-left:30px;
}

.contato a{
    padding:10px;
    width:120px;
    background:#1fac9b;
    color:white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition-duration: 0.5s;
}

.contato a:hover{
    background-color: #e5722f;
    transition-duration: 0.5s;
    transform: rotate(15deg);
}

.contato section{
    width:60%;
    height:85%;
}

.contato header{
    width:100%;
    height:20%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.contato h1{
    font-size: 2em;
    color:#e5722f;
    padding:0;
    margin:0;
    font-family: candara;
}

.contato p{
    color:#EEE;
    font-family: candara;
}

.contato form{
    display:flex;
    flex-direction: column;
    gap:10px;
}

.contato input{
    width:55%;
    border:1px #1fac9b solid;
    background-color: transparent;
    color:white;
    height:30px;
    padding:5px;
    font-size: 1.2em;
    border-radius: 5px;
}

::placeholder{
    color:#e5722f;
}

